body{
    background: #333;
}

.box{
    background: #ffffff;
    width: 200px;
    height: 200px;
    position: relative;
    animation-name: anim;/*important*/
    animation-duration: 4s;
    animation-iteration-count: 2;
    /*animation-delay: 3s;*/
   /* animation-direction: reverse;*/
   /* animation-timing-function: ease-in-out; */
}

@keyframes anim {
    0% {background-color: #ffffff; left:0px; top:0px; border-radius: 0 0 0 0}
    33% {background-color: red; left: 300px; top:0px; border-radius: 25% 25% 0 0}
    66% {background-color: green; left: 300px; top:300px; border-radius: 25% 25% 25% 25%}
    100% {background-color: #ffffff;left:0px; top:0px;border-radius: 0 0 0 0}
}